
/* 	
	Student Name: Lillian Sones
	File Name: styles.css
    Date: 02/10/2023
*/

/*CSS RESET*/

html, body, header, div, h1, h2, h3, h4, main, a, ul, li, footer, nav{
   margin: 0;
   padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


body{
    background-color: #507250;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#302b29;
}

.navlinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li{
    list-style: none;
}

.navlinks li a{
    text-decoration: none;
    color: #c7bcb9;
    display: block;
    padding: 1rem;
}

.navlinks li:hover{
    background-color: #947657;
    color: #302b29;
    border:#c7bcb9
}



.toggle-button{
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: none;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height:3px;
    width: 100%;
    background-color: #c7bcb9;
    border-radius: 10px;
}

@media(max-width:400px){
    .toggle-button{
        display: flex;
    }

    .navlinks{
        display:none;
        width: 100%
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks ul{
        width: 100%;
        flex-direction: column;}

    .navlinks li{
        text-align: center;}

    .navlinks li a{
        padding: .5rem 1rem;
    }

    .navlinks.active{
        display:flex;
    }
    }



main{
    overflow: auto;
    background-color: #302b29;
    color: #c7bcb9;
    display: block;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;

}

main p{
    font-size: medium;
    color: #3d2f21;
    background-color: #e2b88d;
    font-family: "Courier", sans-serif;
}

#portrait{
    width: 20%;
    border:thick solid #e4bead; 
}

img{
    display: block;
    max-width: 70%;
    height: auto;
}

#funfacts ul{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;

}

#contact a{
        display: block;
        text-align:center;
        font-family:'Courier New', Courier, monospace;
        color: #e2b88d;
        text-decoration: underline;
        font-size: medium;    
}

#contact h2{
    position: relative;
    display: block;
}

footer{
position: fixed;
  left: 0;
bottom : 0;
  width: 100%;
  background-color: #193318;
  color: #795e43;
  text-align: center;

  font-size: small;
}

footer a{
    color: #e2b88d;
    text-decoration: none;
}
