/* 	
	Student Name: Lillian Sones
	File Name: styles.css
    Date: 02/10/2023
*/

/*CSS RESET*/

html, body, header, div, h1, h2, h3, h4, main, a, ul, li, footer, nav{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   display: block;

}

body{
    max-width: 900;
    font-size: medium;
    background-color: #507250;
    color: #3d2f21;
    font-family: "Courier", sans-serif;
    display:block;
    overflow: auto;
}

header{
    background: #302b29;
    position: absolute;
   width: 100%;
   color: #e4bead;
   font-size: x-large;
   text-align: center;
   line-height: 1.5em;
   font-weight: bold;
}
#portrait{
    width: 40%;
    float: right;
    border:thick solid #e4bead; 
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.leftnav{
    overflow:hidden;
    position: relative;
    margin: 0;
    padding: 14px 16px;
}

.leftnav li a{
    color: #3d2f21;
    background-color: #947657;
    border: #447043 dotted thick;
    font-weight: bold;
    text-decoration: none;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    list-style-type: none;
}

.leftnav nav li a:hover {
  background-color: #1c411c;
  color: #e4bead;
}

.leftnav nav{
    display: block;
    text-align:center;  
    background:#302b29;
    width: 30%;    
}


.leftnav a.icon {
  background: #302b29;
  display: block;
  position: absolute;
left: 0;
top: 0;
}

.active {
    background-color: #1c411c;
    color: #e4bead;
}

#funfacts ul{
    background-color: #e2b88d ;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;

}

#intro {
    background-color: #e2b88d ;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

#contact{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
}

#contact a{
        display: block;
        text-align:center;
        font-family:'Courier New', Courier, monospace;
        color: #e2b88d;
        text-decoration: underline;
        font-size: medium;    
}

#contact h2{
    position: relative;
    background-color: #e2b88d;
    display: block;
}

#contact p{
    background-color: #e2b88d;
    display: block;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
}

footer{
position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #193318;
  color: #795e43;
  text-align: center;

  font-size: small;
}

footer a{
    color: #e2b88d;
    text-decoration: none;
}
